.tasklist {
  padding: 8px;
  background-color: #ffff;
  border-radius: 6px;
  box-shadow: 0px 2px 26px #d2d2d2;
}

.tasklist .title {
  padding: 4px;
  font-weight: bold;
  text-align: center;
  margin: -8px;
  border-radius: 6px 6px 0 0;
  color: #fff;
}

.tasklist .title-pendente {
  background-color: #ffc107;
}

.tasklist .title-trabalhando {
  background-color: #03a9f4;
}

.tasklist .title-resolvida {
  background-color: #009688;
}

.tasklist .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}
